.container {
  height: 100%;
  flex-direction: row;
  display: flex;
  background: wheat;
}
.left {
  position: relative;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background: wheat;
}

.right {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background: url("/Artist/MJ-1.jpg");
}
.myName {
  font-family: Helvetica Neue;
  color: black;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}
.gallery {
}
