.container {
  flex-direction: column;
  display: flex;
  padding: 3em;
  background-color: #d43109;
  width: 100vw;
}

.myName {
  font-family: Helvetica Neue;
  color: black;
  position: fixed;
  left: 0.5em;
  top: 0.5em;
  z-index: 1;
  display: flex;
  cursor: pointer;
}

.bigbag {
  top: 25vh;
  position: fixed;

  align-items: center;
}

.header {
  font-style: italic;
  font-size: 5em;
  font-family: "EB Garamond", serif;
  position: sticky;
  display: block;
  text-decoration: none;
  color: black;
}

.introduction {
  display: block;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1em;
  left: 0.5em;
  width: 70vw;
  z-index: 1;

  color: white;
  scroll-snap-type: inline mandatory;
}

.logos {
  background-size: contain;
  background-position: center;
  width: 130px;
  margin: 2em;
}
.invisible {
  opacity: 1;
  margin-bottom: 100vh;
  width: 1px;
  height: 1px;
  position: relative;
}

.linkbox {
  display: inline-flex;
  width: 20vmax;
  height: 20vmax;

  margin: 5vw;
  background-color: rgb(137, 183, 252);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  justify-content: center;
  align-items: baseline;
  align-self: stretch;
}

.links {
  color: white;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 200;
  cursor: pointer;
}
