.container {
  flex-direction: column;
  display: flex;
  padding: 3em;
  background-color: #d43109;
  height: 100%;
  width: 100vw;
}

.myName {
  font-family: Helvetica Neue;
  color: black;
  position: fixed;
  left: 0.5em;
  top: 0.5em;
  z-index: 1;
  display: flex;
  cursor: pointer;
}

.bigbag {
  top: 35vh;
  position: sticky;
  overflow: hidden;
  margin-bottom: 15em;
  align-items: center;
}

.header {
  font-style: italic;
  font-size: 5em;
  font-family: "EB Garamond", serif;
  position: sticky;
  display: block;
}

.introduction {
  display: block;
  font-family: Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5em;
  line-height: 1em;
  left: 0.5em;
  width: 70vw;
  z-index: 1;

  color: white;
  scroll-snap-type: inline mandatory;
}

.logos {
  background-size: contain;
  background-position: center;
  width: 130px;
  margin: 2em;
}
